@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #dbe9ff;
}

#main {
    background-color: white;
}

/* #bannerImage {
    background-color: black;
    height: 40%;
    width: 100%;
} */

textarea {
    resize: none;
    overflow: auto;
    height: 800px;
    width: 600px;
}
