@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.box {
    height: 80%;
    width: 90%;
    background-image: url('/images/club-room.jpg');
}
